.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
      overflow: hidden;
      position: absolute;
      z-index: 1002;
}

.scoreImg{
  height: 200px;
							width: 200px;
							position: absolute;
							display: flex;
							z-index: 1015;  
							margin-left: -15px;
							margin-top: 30px;
}
.app__videoFeed {
  position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
  object-fit: cover;
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.emoji_bar {
  position: absolute;
  height:70px;
  width:100%;
  top:9%;
  margin-left: 55px;
  background-color: transparent;
}


.progress {
  height: 30px;
  width: 300px;
  background-color: lightgray;
  border-radius: 20px;
}
.motionDiv{
  width: 1700px;
}
.progress-done {
  height: 100%;
  width: 0;
  opacity: 0;
  background: linear-gradient(to left, #f2709c,#ff9472);
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  transition: 1s ease;
}

.right{
  z-index: 2000;
  position: absolute;
  top:35px;
  left:0;
  right:0;
  width: 45px;
  /* margin-left:auto; */
  margin-right:15px;
  
  background-color: #262626;
  border:5px solid #ebc097; 
  border-radius: 50%;
  color:#fff;
  width:250px;
  right:0;
}

.emoji{
  background-color: tomato;
  width:80px;
  height:80px;
  margin-top: -17px;
  border-radius:50%;
  border:1px solid #e65c00;
  margin-right:10px
  
}

.emoji1{
  background-color: tomato;
  position: absolute;
  width:5px;
  height:3px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius:50%;
  border:3px solid #e65c00;
  margin-right:10px
  
}

.emoji2{
  background-color: green;
  position: absolute;
  width:5px;
  height:60px;
  margin-top: -17px;
  border:px solid #e65c00;
  right: 0
}

#endDivConatainer{
  /* background-color: tomato; */
  position: absolute;
  width:80px;
  height:80px;
  margin-left: 10px;
  margin-top: -20px;
  /* border-radius:50%;
  border:3px solid #e65c00; */
  margin-right:10px;
  background-color: transparent;
}

.slider {
  position: relative;
  animation: myfirst 5s linear  infinite;
  width: 2000px
}

@-webkit-keyframes myfirst {
  0% {
    left: 160%;
  }
  100% {
    left: -160%;
  }
}
@-moz-keyframes myfirst {
  0% {
    left: 160%;
  }
  100% {
    left: -160%;
  }
}
@keyframes myfirst {
  0% {
    left: 160%;
  }
  100% {
    left: -160%;
  }
}



